.page-home {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body {
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: unset;
}

a:hover {
    text-decoration: none;
}

.p-0 {
    padding: 0 !important;
}

.pr-0 {
    padding-right: 0px;
}

header {
    background: url('../images/header-01.png') no-repeat;
    background-size: cover;
    height: 95px;

    .logo {
        text-transform: uppercase;
        height: 100%;
        display: flex;
        align-items: center;

        img {
            width: 321px;

            @media(max-width: 767px) {
                width: 250px;

            }
        }

        h3 {
            letter-spacing: 0.3;
            font-size: 24px;
            font-family: helvet;
            color: #1a7a45;
        }

        h4 {
            color: #033c8e;
            font-size: 17px;
            font-family: 'Avo';
        }
    }

    .menu-desktop {
        align-items: flex-end;
        display: flex;
        height: 100%;
        flex-flow: column;
        justify-content: flex-end;

        ul {
            list-style: none;
            padding: 0;

            li {
                display: inline-block;
                padding: 6px 12px;
                position: relative;

                &:nth-last-child(2) {
                    a {
                        &:after {
                            display: none;
                        }
                    }
                }

                &:last-child {
                    a {
                        &:after {
                            display: none;
                        }
                    }
                }

                a {
                    color: #033c8e;
                    font-size: 16px;
                    font-family: 'myriad';
                    text-transform: uppercase;
                    position: relative;
                    padding-bottom: 11px;

                    .img-taikhoan {
                        margin-right: 10px;
                        width: 15px;
                        margin-top: -10px;
                    }

                    img {
                        width: 7px;
                        margin-left: 2px;
                    }

                    &:after {
                        position: absolute;
                        content: '';
                        width: 2px;
                        height: 13px;
                        right: -14px;
                        top: 2px;
                        background: #033c8e;
                    }
                }

                ul.dropdown-menu {
                    position: absolute;
                    /*top: 90%;*/
                    right: 0;
                    left: auto;
                    /*left: 0;*/
                    z-index: 1000;
                    /*float: left;*/
                    min-width: 160px;
                    /*padding: 5px 0;*/
                    margin: 2px 0 0;
                    font-size: 14px;
                    text-align: left;
                    list-style: none;
                    background-color: #fff;
                    -webkit-background-clip: padding-box;
                    background-clip: padding-box;
                    border: 1px solid #ccc;
                    border: 1px solid rgba(0, 0, 0, .15);
                    border-radius: 4px;
                    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);

                    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);

                    li {
                        display: block;
                        transition: all 0.5s ease-in;

                        &:hover {
                            background: #d0eff7;
                        }

                        a {
                            font-size: 13px;
                            padding: 0;

                            &:hover {
                                background: transparent;
                            }

                            &:after {
                                display: none;
                            }
                        }
                    }

                    @media(min-width: 1200px) {
                        min-width: 160px;
                    }



                }
            }
        }
    }
}

.container {
    max-width: 1258px;
    margin: auto;
    width: 100%;
    padding: 0;
}

main {
    flex: 1;
    background: url('../images/bg_trongdong-01.png') no-repeat;
    background-size: cover;
    font-family: "Roboto";

    .main-home {
        display: flex;
        flex-wrap: wrap;
        padding-top: 40px;
    }

    .boxItem {
        @media(min-width: 1200px) {
            margin-left: 23px;
            width: 18%;
            padding: 0;
            border-bottom: 1px solid #aaaaaa;
            margin-bottom: 25px;
            display: flex;
            flex-flow: column;
        }

        .item {
            justify-content: space-between;
            display: flex;
            height: 100%;
            flex-flow: column;
            text-align: center;
            padding-bottom: 25px;
            position: relative;

            &:before {
                content: '';
                position: absolute;
                bottom: 0;
                height: 1px;
                width: 80px;
                background: #606060;
                margin: auto;
                left: 0;
                right: 0;
                opacity: 0;
                transition: all 0.5s ease-in;

            }

            &:hover {
                &:before {
                    opacity: 1;
                }
            }

            a {
                height: 100%;
                display: flex;
                flex-flow: column;
                justify-content: space-between;
                align-items: center;

                &:hover {
                    h4 {
                        color: #1a7a45;
                    }
                }

                ;
            }

            img {
                width: 103px;
            }

            h4 {
                font-family: 'Avo_bold';
                font-size: 15px;
                text-transform: uppercase;
                color: #606060;
                line-height: 25px;

            }
        }
    }
}

/*Liet si*/
.main-lietsi {
    font-family: 'Roboto';


    .content-body {
        background: #fff;
        display: flex;
        padding-top: 25px;
        padding-bottom: 30px;

        .container {
            .row {
                display: flex;
                align-items: center;
                flex-wrap: wrap;


                .tknc {
                    img {
                        width: 8px;
                    }
                }
            }

            /*search mo rong*/
            .tknc-mr {
                display: none;

                ul {
                    display: flex;
                    padding: 0;
                    list-style: none;
                    margin-top: 15px;

                    @media(max-width: 767px) {
                        display: block;
                    }

                    li {
                        width: 20%;
                        margin-right: 10px;
                        display: flex;

                        @media(max-width: 767px) {
                            width: 94%;
                            margin: 10px;
                        }

                        &:last-child {
                            button {
                                border: 0;
                                color: #fff;
                                padding: 0px 10px;
                                background: #819fa8;
                                font-size: 18px;
                            }
                        }
                    }
                }
            }

            .kq {
                display: flex;
                justify-content: space-between;
                align-items: center;

                @media(max-width: 1200px) {
                    padding: 0px 10px;
                }


                h4 {
                    font-family: 'Avo';
                    color: #01568d;
                }

                button {
                    background: transparent;
                    border: 1px solid #82a0a8;
                    border-radius: 4px;
                    height: 30px;

                    img {
                        width: 15px;
                        margin: 0px 5px;
                    }
                }
            }
        }



        .table-detail {
            margin-top: 15px;

            .header-table-detail {
                color: #fff;
                background: #82a0a8;
                font-size: 18px;

                th {
                    padding-left: 25px;
                    font-family: 'Roboto_Bold';
                }

                button {
                    display: flex;
                    background: transparent;
                    align-items: center;
                    border-radius: 4px;
                    border: 2px solid #fff;
                    font-size: 14px;
                    padding: 3px 10px;

                    img {
                        width: 16px;
                        margin-right: 5px;
                    }
                }
            }
        }

        table {
            tr {
                td {
                    padding-left: 25px;
                }
            }

            margin-bottom: 0;

            caption {
                font-family: 'Roboto_Bold';
                background: #e6e6e6;
                color: #333;
                text-transform: uppercase;
                padding-left: 25px;
            }
        }

        .table-thannhan {
            tr {
                th {
                    text-align: center;
                    font-weight: normal;
                }
            }
        }
    }
}

.main-lietsi-tk {
    background: #fff;

    /*page thong ke*/
    .page-thongke {
        .row {
            flex-flow: column;
        }

        .number-thongke {
            background: #def7ff;

            ul {
                list-style: none;
                padding: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 135px;
                margin-bottom: 23px;

                li {
                    margin: auto;
                    height: 100%;
                    width: 33%;
                    text-align: center;
                    border-right: 1px solid #a6a8ab;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-flow: column;
                    font-family: "Roboto_Bold";
                    color: #4d4d4d;
                    text-transform: uppercase;

                    &:last-child {
                        border-right: 0;
                    }

                    span {
                        margin-top: 15px;
                        display: block;
                        font-family: 'Roboto';
                        color: #01568d;
                        font-size: 51px;
                    }
                }
            }
        }

        .tieuchi-thongke {
            margin-bottom: 23px;

            ul {
                border: 1px solid #ccc;
                list-style: none;
                padding: 10px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                li {
                    margin: 10px 6px;
                    width: 24%;
                    height: 34px;

                    .form_date {
                        height: 34px;
                        display: flex;
                        border: 1px solid #ccc;

                        input {
                            background: transparent;
                            padding-left: 17px;

                            &::placeholder {
                                color: #606060 !important;
                            }
                        }

                    }
                }
            }
        }

        /*thong ke huyen*/
        .thongke-huyen {
            margin-bottom: 23px;

            table {
                tr {
                    &:nth-child(2) {
                        td {
                            font-size: 30px;
                            color: #01568d;
                        }
                    }

                    td {
                        text-align: center;
                        padding: 15px 40px;
                    }
                }
            }
        }

        /*Tab thong ke*/
        #tab-thongke {
            .header-tab {
                display: flex;
                background: #e4eff2;
                justify-content: space-between;
                align-items: center;
                @media(max-width: 480px){
                    display:block;
                }

                ul.nav-pills {
                    background: #e4eff2;
                    display: flex;
                    flex-wrap: wrap;
                    li {
                        position: relative;

                        &:last-child {
                            &:after {
                                display: none;
                            }
                        }

                        &:after {
                            content: '';
                            top: 13px;
                            position: absolute;
                            right: -2px;
                            height: 20px;
                            width: 2px;
                            background: #666;
                        }

                        &:first-child {
                            &:after {
                                display: none;
                            }
                        }

                        .img-active {
                            display: none;
                        }

                        &.active {
                            .title-page-thongke {
                                background: #82a0a8;
                                color: #fff;
                                border-bottom: 2px solid #e4eff2;
                            }

                            .img-active {
                                display: block;
                            }

                            .img-inactive {
                                display: none;
                            }
                        }

                        a {
                            padding: 0;

                            .title-page-thongke {
                                background: transparent;
                                color: #666;
                                padding: 10px 20px;
                            }
                        }

                    }
                }

                .type-view {
                    margin-right: 10px;
                    @media(max-width: 767px){
                        margin:5px;
                    }
                    .form-group {
                        margin-bottom: 0;

                        .form-control {
                            background: transparent;
                        }
                    }
                }
            }


            .tab-content {
                .table {
                    margin-top: 0px !important;
                }

            }
        }
    }

    /* Tao moi liet si*/
    .page-taomoi-thongke {
        #create-hoso {
            border: 1px solid #ccc;
            margin-top: 24px;
            padding-bottom: 25px;

            .table-create-tk {
                margin-bottom: 0;
                border-collapse: collapse;
                width: 100%;

                caption {
                    background: #82a0a8;
                    color: #fff;
                    text-transform: uppercase;
                    font-family: 'Roboto_Bold';
                    font-size: 18px;
                    padding-left: 20px;

                }

                tr {
                    td {
                        border: 0;

                        /*padding: 8px 15px;*/
                        &:first-child {
                            padding-left: 20px;
                        }

                        &:last-child {
                            padding-right: 20px;
                        }



                    }
                }
            }


        }

    }

    /*page chi tiet liet si*/
    .page-chitiet-lietsi {
        .container {
            position: relative;

            .detail-left {
                width: 41.66667%;
                margin-top: 25px;

                @media(max-width: 767px) {
                    width: 100%;
                }

                .title-detail {
                    ul {
                        background: transparent;
                    }

                }


                ul {
                    background: #def7ff;

                    &.tab-direct {
                        display: flex;
                        justify-content: space-between;
                    }

                    li {
                        &.active {

                            a {
                                color: #01568d;
                                text-transform: uppercase;
                                background: transparent;
                            }
                        }

                        a {
                            color: #333;
                            font-family: 'Roboto_Bold';
                            text-transform: uppercase;
                        }
                    }
                }

                .tab-parent {
                    position: absolute;
                    left: 43%;
                    top: 25px;
                    width: 56%;

                    @media(max-width: 767px) {
                        position: unset;
                        width: 100%;
                    }

                    #tab-thongke {
                        .header-tab {
                            ul {
                                li {
                                    &.active {
                                        background: #82a0a8;

                                        a {
                                            .title-page-thongke {
                                                color: #fff;
                                            }
                                        }
                                    }

                                    a {
                                        padding: 0;

                                        .title-page-thongke {
                                            background: transparent;
                                            color: #666;
                                        }
                                    }
                                }
                            }
                        }

                        .tab-top-content {
                            margin: 7px 0px 15px;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            border-bottom: 1px solid #a6a8ab;
                            padding-bottom: 7px;

                            span {
                                color: #01568d;
                                text-transform: uppercase;
                                font-family: 'Roboto_Bold';
                            }

                            button {
                                display: flex;
                                background: transparent;
                                border: 1px solid #82a0a8;
                                border-radius: 4px;
                                padding: 5px 10px;
                                align-items: center;

                                img {
                                    width: 13px;
                                    margin-right: 5px;
                                }
                            }
                        }
                    }

                    #tab2,
                    #tab3 {

                        /*Table chi tiet nhan than*/

                        .table-chitiet-nhanthan {
                            border: 1px solid #ccc;
                            border-collapse: unset;

                            tr {
                                &:hover {
                                    background: transparent;
                                }

                                th {
                                    font-size: 14px;
                                }

                                td {
                                    border: 0;

                                    .box-checkbox {
                                        display: flex;

                                        .contain-checkbox {
                                            .checkmark {
                                                left: 0;
                                            }
                                        }

                                        .contain-checkbox {
                                            margin-right: 20px;
                                        }
                                    }
                                }
                            }
                        }

                        /*end table chi tiet than nhan*/
                    }
                }

                .page-not-tab {
                    .tab-vanban {
                        .tab-direct {
                            justify-content: flex-start;
                        }

                        .tab-content {
                            border: 1px solid #ccc;
                            border-top: 0;
                            padding: 0px 15px 20px;

                            .title {
                                display: flex;
                                justify-content: space-between;
                                padding: 20px 0px;

                                img {
                                    width: 15px;
                                }
                            }
                        }
                    }
                }
            }
        }

    }
}

.border {
    border: 1px solid #ccc;
}

.form-search {
    form#search {
        margin: 0;

        .input-group {
            border: 1px solid #ccc;
            display: flex;

            .input-group-append {
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
                color: #fff;
                font-size: 12px;
                background: #82a0a8;

                button {
                    background: #82a0a8;
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                    font-size: 12px;
                    padding: 8px;
                }

                img {
                    margin: 0px 8px;
                    width: 15px;
                }
            }
        }
    }

}

.table-danhmuc {
    .modal-footer {
        margin-bottom: 89px;
    }

    tr {
        td {
            padding: 8px 15px !important;

            .box-checkbox {
                /*display: flex;*/
                justify-content: center;
                align-items: center;

                .checkmark {
                    left: 0;
                }
            }
        }
    }
}

.title-detail {
    background: #82a0a8;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 10px 9px;
    @media(max-width: 767px){
        /*display:block;*/
    }

    span {
        text-transform: uppercase;
        font-size: 18px;
        font-family: 'Roboto_Bold';
    }

    button {
        background: transparent;
        border: 1px solid #fff;
        height: 30px;
        display: flex;
        border-radius: 4px;
        padding: 0px 10px;
        @media(max-width: 767px){
            padding:0px 2px;
        }
        img {
            width: 15px;
            margin-right: 5px;
        }
    }

    ul {
        display: flex;
        padding: 0;
        background: transparent;
        margin: 0;

        li {
            margin: 0px 5px;
        }
    }

}

/*style datatable */

#example_wrapper,
#example1_wrapper {
    table {
        tbody {
            tr {
                cursor: pointer;

                th {
                    font-size: 14px;
                }

                &:hover {
                    background: #def7ff;
                }
            }
        }

    }

    .table-nhanthan {
        tbody {
            tr {
                td {
                    text-align: center;
                }
            }
        }
    }

    .table-chedo {
        tr {
            td {
                &:nth-child(2n+1) {
                    text-align: right;
                }
            }

            .view {
                display: flex;
                justify-content: flex-end;

                a {
                    display: flex;

                    img {
                        width: 15px;
                        margin-right: 10px;
                    }
                }
            }
        }
    }

    .header-title-table {
        display: flex;
        text-transform: uppercase;
        font-family: 'Roboto_Bold';
        color: #01568d;
        margin-bottom: 10px;



        img {
            width: 18px;
            margin-right: 5px;
        }
    }

    .header-table {
        background: #82a0a8;
        color: #fff;

        tr {

            th {
                font-weight: normal;
                text-transform: uppercase;
                text-align: center;
                font-size: 14px;

                &:after {
                    display: none;
                }

                ;
            }
        }
    }

    #example,
    #example1,
    #example2,
    #example3,
    #example4 {
        margin-bottom: 0px !important;

        tbody {
            tr {
                &:hover {
                    background: #def7ff;
                }

                ;

                td {
                    &:first-child {
                        text-align: center;
                    }

                    .action {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        span {
                            margin-right: 10px;

                            button {
                                background: transparent;
                                border: 0;
                                padding: 0;
                            }

                            img {
                                height: 18px;
                            }
                        }

                    }
                }
            }

        }
    }

    .bottom-table {
        display: flex;
        justify-content: space-between;
        background: #e6e6e6;
        align-items: center;
        padding: 10px;

        .left {
            display: flex;
            align-items: center;
            font-size: 14px;

            @media(max-width: 767px) {
                display: block;
            }

            .dataTables_info {
                padding-top: 0;
            }

            .pagination {
                margin-left: 5px;

                li {
                    &.active {
                        a {
                            background: #819fa8;
                            color: #fff;
                        }
                    }

                    &.previous,
                    &.next {
                        a {
                            background: #b3b3b3;

                        }
                    }
                }

                a {
                    font-size: 12px;
                    color: #000;
                    background: #fff;
                    margin: 0px 1px;
                    border: 1px solid #ccc;
                    padding: 2px 7px;
                    height: 25px;
                    display: flex;
                    align-items: center;
                }
            }
        }
    }

    #save-chuyen-hoso {
        border: 1px solid #ccc;

        table {
            tr {
                &:hover {
                    background: transparent;
                }

                td {
                    border: 0;
                }
            }
        }
    }
}

.title-page-thongke {
    background: #82a0a8;
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    padding: 11px 20px;

    @media(max-width: 767px) {
        font-size: 15px;
        padding: 11px 9px;
    }

    img {
        width: 18px;
        height: 18px;
        margin-right: 15px;

        @media(max-width: 767px) {
            margin-right: 5px;
        }
    }
}

.contain-checkbox {
    display: block;
    position: relative;
    /*padding-left: 35px;*/
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:hover {
        &input~.checkmark {
            background: #ccc;
        }
    }

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;

        &:checked~.checkmark:after {
            display: block;
        }
    }

    .checkmark {
        position: absolute;
        top: 0;
        left: 20px;
        height: 15px;
        width: 15px;
        background-color: #fff;
        @media(max-width: 767px){
            left:0;
        }

        &:after {
            content: '';
            position: absolute;
            display: none;
            left: 4px;
            top: 1px;
            width: 5px;
            height: 10px;
            border: solid #666;
            border-width: 0px 2px 2px 0px;
            transform: rotate(45deg);
        }

    }
}

.muc {
    background: #ddd;
    color: #333;
    text-transform: uppercase;
    font-family: 'Roboto_Bold';

    button {
        border: 1px solid #666;
        background: transparent;
        border-radius: 4px;

        padding: 4px 10px;

        img {
            width: 15px;
            margin-right: 8px;
        }
    }
}

.title-detail {
    margin-top: 15px;
}

ul {
    list-style: none;
}

.item {
    padding-top: 8px;

    .box-checkbox {
        display: flex;
        align-items: center;

        .contain-checkbox {
            padding-left: 30px;
            margin-bottom: 0;
        }

        .checkmark {
            left: 0;
        }
    }
}

.row-inline {
    display: flex;
    justify-content: space-between;

    input {
        width: 65%;
    }
}

.form-group {
    margin-bottom: 0;
}

.btn-save {

    background: #82a0a8;
    margin: auto;
    display: block;
    color: #fff;
    padding: 6px 37px;
    margin-top: 25px;
    @media(max-width:480px){
        padding:6px 27px;
    }

    img {
        width: 15px;
        height: 15px;
        margin-right: 20px;
    }
}

label {
    height: 20px;
    font-weight: normal;
    color: #333;
}

.gioitinh {
    display: flex;
    align-items: center;

    div {
        display: flex;
        align-items: center;
        margin-right: 27px;

        input {
            height: 20px;
            width: 20px;
        }

        span {
            padding-left: 10px;
            padding-top: 10px;
        }
    }
}


.modal-common {
    .modal-width {
        max-width: 1136px;
        width: 100%;


    }

    .modal-content {
        font-family: "Roboto";
    }

    .modal-header {
        padding: 11px;
        text-align: center;
        background: #82a0a8;
        font-family: 'Roboto_Bold';
        color: #fff;

        .close {
            opacity: 1;

            img {
                width: 25px;
            }
        }
    }

    .modal-body {
        table {
            tr {
                td {
                    border: 0;

                    .form-group {
                        margin-bottom: 0;

                        label span {
                            color: red;
                        }
                    }

                    .checkmark {
                        left: 0;
                    }

                    img {
                        width: 15px;
                    }
                }
            }
        }
    }

}

#modalCatchet {
    .modal-lg {
        max-width: 757px;
        width: 100%;
    }

    .modal-body {
        padding: 15px 130px;
    }
}

.modal-dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: auto;

    >div {
        width: 100%;
    }
}

footer {
    clear: both;
    text-align: center;
    background: #01568d;
    color: #fff;
    padding: 12px;
    border-top: 7px solid #55caf5;

    p {
        margin: 0;
    }
}

.mrt-10 {
    margin-top: 10px;
}

.mrt-20 {
    margin-top: 20px;
}

.mrt-17 {
    margin-top: 17px;
}

.mrb-15 {
    margin-bottom: 15px;
}

.date-birthday {
    border: 1px solid #ccc;
    position: relative;
    height: 34px;

    .input-group-addon {
        visibility: hidden;
        height: 0;
        padding: 0px !important;
    }
}

.table-no-border {
    margin-bottom: 0;

    tr {
        td {
            border: 0px !important;
            padding: 12px !important;

            &:first-child {
                text-align: right;
            }

            .inputfile+label {
                padding: 0;
            }

            .box-checkbox {
                display: flex;

                .contain-checkbox {
                    padding-left: 35px;
                    margin-bottom: 0;

                    .checkmark {
                        left: 0;
                    }
                }

            }
        }
    }
}

input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #606060;
    opacity: 1;
    /* Firefox */
}

input::-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #606060;
}

input::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #606060;
}

table {
    tr {
        td {
            font-size: 14px
        }
    }
}

.modal-footer {
    text-align: center;
    display: flex;
    justify-content: center;
    border: 0;


    .btn-save {
        margin: unset;
        border: 0;
        border-radius: 5px;
        width: 120px;
        padding: 8px 13px;
        margin: 0px 10px;
        transition: all 0.3s ease-in;

        &:hover {
            background: #666;
            color: #fff;
        }

        img {
            margin-right: 10px;
        }
    }
}

.d-flex {
    display: flex;
}

.btn-radio {
    display: flex;

    input {
        height: 20px;
        width: 20px;
    }

    span {
        padding: 6px;
    }
}

#chuyentab4 {
    .tab-top-content {
        padding: 8px 0px;
    }
}

/*Báo cáo*/
.top-main {
    min-height: 75px;
    background: #e6e6e6;
    border-bottom: 2px solid #82a0a8;
    display: flex;

    .row {
        /*display: flex;
        align-items: center;*/
    }

    h4 {
        color: #01568d;
        text-transform: uppercase;
        font-size: 18px;
        font-family: 'Avo_bold';


    }

    .sec-right {
        display: flex;
        justify-content: flex-end;

        ul {
            margin: 0;

            @media(max-width: 767px) {
                padding: 0;
                margin-bottom: 10px;
            }

            li {
                width: 150px;
                display: inline-block;
                background: #fff;
                border-radius: 5px;
                padding: 7px 20px;
                margin-left: 13px;
                transition: all 0.5s ease-in;
                position: relative;
                text-align: center;

                @media(max-width: 767px) {
                    padding: 7px 4px;
                    margin-left: 0px;
                    margin-bottom: 5px;
                    width: auto;
                }

                &:hover {
                    background: #82a0a8;

                    a {
                        color: #fff;

                        .img-active {
                            opacity: 0;
                        }

                        .img-inactive {
                            opacity: 1;
                        }

                    }
                }

                &.active {
                    background: #82a0a8;

                    a {
                        color: #fff;

                        .img-active {
                            opacity: 0;
                        }

                        .img-inactive {
                            opacity: 1;
                        }
                    }
                }

                a {
                    font-family: 'Roboto';
                    color: #01568d;
                    padding: 5px 15px;

                    @media(max-width: 767px) {
                        padding: 5px 5px 5px 16px;
                    }

                    .img-active {
                        opacity: 1;
                    }

                    .img-inactive {
                        opacity: 0;
                    }
                }

                img {
                    top: 9px;
                    width: 15px;
                    margin-right: 10px;
                    position: absolute;
                    left: 12px;

                    @media(max-width: 767px) {
                        top: 9px;
                        width: 15px;
                        /*margin-right: 6px;*/
                        position: absolute;
                        left: 5px
                    }
                }
            }
        }
    }
}

.main-baocao {
    background: #fff;

    .item {
        margin-bottom: 10px;

        .sec-right {
            display: flex;

            button {
                border: 0;
                border-radius: 6px;

                &:last-child {
                    background: #fff;
                    color: #666;
                    border: 1px solid #ccc;
                    margin-right: 0;
                }
            }
        }
    }
}

/*Danh muc nhom doi tuong*/
#example1 {
    tr {
        td {
            label {
                margin-bottom: 0;
            }
        }
    }
}

/*Danh mục loại quyết định*/
.title-danhmuc {
    margin: 25px 0px 15px;

    span {
        color: #01568d;
        text-transform: uppercase;
        font-family: 'Roboto_Bold';
        font-size: 18px;
    }
}

.table-quyetdinh-chitiet {
    table {
        margin-bottom: 0;

        thead {
            tr {
                th {
                    border: 0;
                    font-weight: normal;
                }
            }
        }
    }

    .modal-footer {
        justify-content: flex-end;

        .btn-save {
            width: auto;
        }
    }
}

/*Thông tin tài khoản*/
.selects_container {
    display: flex;
}

#dateinput_1Days,
#dateinput_1Months,
#dateinput_1Years {
    border: 1px solid #ccc;
    height: 35px;
    width: 100px;
    border-radius: 4px;
    margin-right: 10px;
}

.no-border {
    border: 0;
    box-shadow: none;
    font-size: 35px;
}

.border-tk {
    width: 100%;
    height: 100%;
    display: inline-block;
    border: 1px solid #ccc;
    padding: 30px;

    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;

        li {
            display: inline-block;
            width: 15%;
            cursor: pointer;

            &:nth-child(1) {
                img {
                    width: 5px;
                }
            }

            &:nth-child(2) {
                width: 8%;

                img {
                    width: 15px;
                }
            }

            &:nth-child(3) {
                img {
                    width: 15px;
                }
            }

            &:nth-child(4) {
                img {
                    width: 13px;
                }
            }

            span {
                padding-left: 10px;
            }
        }
    }
}

.avatar {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    img {
        width: 65px;
    }

    span.note {
        padding: 0px 90px;
    }

    .box {
        background: #82a0a8;
        border-radius: 5px;
        padding: 5px 0px;
        margin: 28px;

        label {
            margin-bottom: 0;
            color: #fff;
            font-weight: normal;

            img {
                width: 15px;
                height: 12px;
                margin-right: 5px;
            }
        }
    }

}

.border-right {
    border-right: 1px solid #ccc;
}

button {
    transition: all 0.5s ease-in;
    font-size: 14px;
}

button:hover {
    background: #b3b3b3 !important;
    color: #fff;
}

.mrt-15 {
    margin-top: 15px;
}

.menu-btn {
    position: absolute;
    right: 10px;
    top: 28px;
    background: #e1f4fd;
    color: #3eb4e5;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #3eb4e5;
}