

@font-face {
    font-family: 'Avo';
    src: url('../fonts/avo/UTM Avo_0.ttf');
}
@font-face {
    font-family: 'Tahoma';
    src: url('../fonts/Tahoma.ttf');
}

@font-face {
    font-family: 'Avo_bold';
    src: url('../fonts/avo/UTM AvoBold_0.ttf');
}
@font-face {
    font-family: 'myriad';
    src: url('../fonts/MyriadPro_Regular.otf');
}
@font-face {
    font-family: 'myriad_bold';
    src: url('../fonts/MYRIADPRO_BOLD.OTF');
}

@font-face {
    font-family: 'Avo_Italic';
    src: url('../fonts/UTM AvoItalic.ttf');
}

@font-face {
    src: url('../fonts/UTM_HelvetIns.ttf');
    font-family: helvet;
}
@font-face {
    font-family: 'Roboto';
    src:  url('../fonts/Roboto_Regular.ttf');
}
@font-face {
    font-family: 'Roboto_Bold';
    src:  url('../fonts/Roboto_Bold.ttf');
}
.bg-login{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Tahoma';
}
.bg-login {
    background: url(../images/BG-01.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*background-size: 125%;*/

}

#login {
    padding: 50px 0px 70px;
    transform: translateX(-50%) translateY(-50%);
    left: 50%;
    top: 50%;
    position: absolute;
    background: #ffffff70;
    border: 0.5px solid #afa9a9;
    /*box-shadow: 0px 0px 6px 4px #bccdd182;*/
    border-radius: 17.5px;
}

#form {
    /*max-width: 550px;*/
    /* margin-top: 40px; */
}

.tieude {
    position: relative;
    bottom: 25px;
    background: #fff;
    padding: 0px 10px;
    width: 280px;
    margin: auto;
}

.input-group-addon {
    padding: 3px 10px;
    background: #fff;

}

.text-left {
    text-align: left;
}

.mar-bottom-10 {
    margin-bottom: 10px;
}

.input-group {
    /* margin-top: 15px; */
    padding: 0px;
    background: #fff;
    border-radius: 0px;
    /*border: 1px solid #005591;*/
    display: inline-block;
    width: 100%;
    border-radius: 6.5px;
}

.input-group .input-group-addon {
    border: 0px;
    box-shadow: none;
    outline: none;
    width: 38px;
    position: relative;
    display: flex;
    padding: 5px;
    background: transparent;
    justify-content: center;
    align-items: center;
}



.input-group input {
    width: 100%;
    border: 0px;
    padding: 6px;
    outline: none;
    font-family: 'MyriadPro_Regular';
    display: inline-block;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
    font: inherit;
    color: inherit;
    width: calc(100% - 35px);
    background: transparent;
    /*border-radius: 5px;*/
}

.dangnhap button {
    width: 100%;
    height:100%;
    border: 1px solid #fff;
    padding: 10px;
    outline: none;
    font-size: 14px;
    background: transparent;
    border-radius: 20px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Avo_bold';
    box-shadow: 0px 0px 4px #ccc ;
    color: #1a7a45;

}
.dangnhap button a{
    color: #1a7a45;
    
}
.dangnhap {
    height: 45px;
    align-items: center;
    background: #d0eff7;
    transition-duration: 0.3s;
    /*background:url('../images/bg-btn-01.png') no-repeat;*/
    margin-top: 15px;
    display: flex;
    clear: both;
    text-align: center;
    border-radius: 20px;
    justify-content: space-between;
    box-shadow: 1px 2px 3px 1px #7e7b7b;
}

.button-cancel {
    width: 142px;
}

.dangnhap a {
    color: #fff;
    font-size: 16px;
}

.tieude p {
    /* font-family: 'UTM_Avo_regular'; */
    color: #ee3340;
    text-align: center;
    font-size: 26px;
}

.styled-select select,
.styled-select input {
    height: 36px;
    border: 1px solid #606161;
    font-weight: 100;
    width: 100%;
    padding: 0px 10px;
    font-family: 'MyriadPro_Regular';
    font-size: 16px;
    outline: none;
}

/* placeholder */

input::-webkit-input-placeholder {
    color: #303030 !important;
}

input:-moz-placeholder {
    /* Firefox 18- */
    color: #303030 !important;
}

input::-moz-placeholder {
    /* Firefox 19+ */
    color: #303030 !important;
}

input:-ms-input-placeholder {
    color: #303030 !important;

}

/* end placeholder */

.menu-home-login {
    transform: translateX(-50%) translateY(-50%);
    left: 50%;
    top: 50%;
    /*WIDTH: 500px;*/
}

.menu-padd {
    transform: translateX(-50%) translateY(-50%);
    left: 50%;
    top: 50%;
    position: absolute;
    text-align: center;
    margin-top: 50px;
}

.bg-banner {
    background: #88A491;
}

.box-shadow {
    /* -webkit-box-shadow: 0px 0px 233px 31px rgba(255,255,255,1); */
    /* -moz-box-shadow: 0px 0px 233px 31px rgba(255,255,255,1); */
    /* box-shadow: 0px 0px 233px 31px rgba(255,255,255,1); */
    /* background: url(images/bg_login) no-repeat center center fixed; */
    /* -webkit-background-size: cover; */
    -moz-background-size: cover;
    -o-background-size: cover;
    /* background-size: cover; */
    position: absolute;
    /* left: 44.5%; */
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}


/* 30082017 */
.img-tieude {
    text-transform: uppercase;
    padding-bottom: 25px;
}

.img-tieude h3 {
    color: #1a7a45;
    font-family: helvet;
    font-size: 28px;
    letter-spacing: 0.1;
}

.img-tieude h4 {
   letter-spacing: 0.7px;
    font-size: 21px;
    color: #01568d;
    word-spacing: 0;
}

.img-tieude p {
    margin-bottom: 0px;
    color: #fff;
    font-family: 'Arial_bold';
    font-size: 20px;
    padding: 8px 0px;
}

.padd-form {
    /*padding: 0px 20px;*/
    /*margin-top:20px;*/
}

.form2 {
    margin-top: 20px;
    background: rgba(233, 129, 56, 0.2);
    padding: 5px;
    border-radius: 5px;
}

.login2 {
    max-width: 550px !important;
    /*border: 0px !important;*/
    width: 100%;
}

.none-margin-top {
    margin-top: 0px !important;
}

.img-logo-login {
    width: 100%;
    /*margin-bottom:30px;*/
}

.img-logo-login img {
    height: 150px;
    width: 150px;
}

.login-content {
    max-width: 350px;
    width: 100%;
    margin: auto;
}

.input-group-addon img {
    height: 19px;
}

.padd-form .input-group {
    height: 40px;
    display: flex;
    border: 0.5px solid #afa9a9;
    /*background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    background-image: linear-gradient(to right, #3EC8AC 0%, #4E90A4 100%), linear-gradient(to right, #26518c 0%, #409067 100%);*/
    /*background-image: linear-gradient(to right, #fff, #fff), linear-gradient(to right, #26518c, #409067);*/
}

.bg-input {
    /*margin-bottom: 30px;*/
    border-radius: 5px;
    clear: both;
}

.bg-input:first-child {
    margin-bottom: 30px !important;
}

.bg-input:nth-child(2) {
    margin-bottom: 21px !important;
}

.input-select {
    padding: 0px 20px;
}

.input-select p {
    text-align: left;

}

.button-cancel {
    border-radius: 7.1px;
    transition: 0.3s all ease-in;
}

.button-cancel:first-child {
    background: #a4b6c1;
}

.button-cancel:last-child {
    background-image: linear-gradient(to right, #26518c, #409067);
    transition: 0.3s all ease-in;
}

.button-cancel:hover {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    transform: translateY(-5px);
}

.button-cancel:last-child:hover button {
    /*  color:red;
 background: -webkit-linear-gradient(#26518c, #409067);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/
}

.forgotPassword {
    text-align: left;
}

.forgotPassword label {
    color: #01568d;
}

.footer-form {
    font-family: 'Avo_Italic';
    color: #4d4d4d;
    font-size: 13px;
    padding-top: 20px;
}

.forgotPassword .checkbox {
    padding-bottom: 15px;
}
label.contain {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
label.contain input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
     position: absolute;
    top: 0;
    left: 0;
    height: 21px;
    width: 21px;
    background-color: transparent;
    border: 1px solid #afa9a9;
    border-radius: 3px;
}
/* On mouse-over, add a grey background color */
label.contain:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
label.contain input:checked ~ .checkmark {
  background-color: #1a7a45;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
label.contain input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
label.contain .checkmark:after {
  left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.dangnhap:hover{
   background:none;
   /*box-shadow: inset 0 0 0 4px #1a7a45, 0 0 1px rgba(0, 0, 0, 0);*/
}
.page-forget-password .bg-input{
    margin-bottom:22px !important;
}