@charset "UTF-8";
.page-home {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

body {
  font-size: 14px; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: unset; }

a:hover {
  text-decoration: none; }

.p-0 {
  padding: 0 !important; }

.pr-0 {
  padding-right: 0px; }

header {
  background: url("../images/header-01.png") no-repeat;
  background-size: cover;
  height: 95px; }
  header .logo {
    text-transform: uppercase;
    height: 100%;
    display: flex;
    align-items: center; }
    header .logo img {
      width: 321px; }
      @media (max-width: 767px) {
        header .logo img {
          width: 250px; } }
    header .logo h3 {
      letter-spacing: 0.3;
      font-size: 24px;
      font-family: helvet;
      color: #1a7a45; }
    header .logo h4 {
      color: #033c8e;
      font-size: 17px;
      font-family: 'Avo'; }
  header .menu-desktop {
    align-items: flex-end;
    display: flex;
    height: 100%;
    flex-flow: column;
    justify-content: flex-end; }
    header .menu-desktop ul {
      list-style: none;
      padding: 0; }
      header .menu-desktop ul li {
        display: inline-block;
        padding: 6px 12px;
        position: relative; }
        header .menu-desktop ul li:nth-last-child(2) a:after {
          display: none; }
        header .menu-desktop ul li:last-child a:after {
          display: none; }
        header .menu-desktop ul li a {
          color: #033c8e;
          font-size: 16px;
          font-family: 'myriad';
          text-transform: uppercase;
          position: relative;
          padding-bottom: 11px; }
          header .menu-desktop ul li a .img-taikhoan {
            margin-right: 10px;
            width: 15px;
            margin-top: -10px; }
          header .menu-desktop ul li a img {
            width: 7px;
            margin-left: 2px; }
          header .menu-desktop ul li a:after {
            position: absolute;
            content: '';
            width: 2px;
            height: 13px;
            right: -14px;
            top: 2px;
            background: #033c8e; }
        header .menu-desktop ul li ul.dropdown-menu {
          position: absolute;
          /*top: 90%;*/
          right: 0;
          left: auto;
          /*left: 0;*/
          z-index: 1000;
          /*float: left;*/
          min-width: 160px;
          /*padding: 5px 0;*/
          margin: 2px 0 0;
          font-size: 14px;
          text-align: left;
          list-style: none;
          background-color: #fff;
          -webkit-background-clip: padding-box;
          background-clip: padding-box;
          border: 1px solid #ccc;
          border: 1px solid rgba(0, 0, 0, 0.15);
          border-radius: 4px;
          -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); }
          header .menu-desktop ul li ul.dropdown-menu li {
            display: block;
            transition: all 0.5s ease-in; }
            header .menu-desktop ul li ul.dropdown-menu li:hover {
              background: #d0eff7; }
            header .menu-desktop ul li ul.dropdown-menu li a {
              font-size: 13px;
              padding: 0; }
              header .menu-desktop ul li ul.dropdown-menu li a:hover {
                background: transparent; }
              header .menu-desktop ul li ul.dropdown-menu li a:after {
                display: none; }
          @media (min-width: 1200px) {
            header .menu-desktop ul li ul.dropdown-menu {
              min-width: 160px; } }

.container {
  max-width: 1258px;
  margin: auto;
  width: 100%;
  padding: 0; }

main {
  flex: 1;
  background: url("../images/bg_trongdong-01.png") no-repeat;
  background-size: cover;
  font-family: "Roboto"; }
  main .main-home {
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px; }
  @media (min-width: 1200px) {
    main .boxItem {
      margin-left: 23px;
      width: 18%;
      padding: 0;
      border-bottom: 1px solid #aaaaaa;
      margin-bottom: 25px;
      display: flex;
      flex-flow: column; } }
  main .boxItem .item {
    justify-content: space-between;
    display: flex;
    height: 100%;
    flex-flow: column;
    text-align: center;
    padding-bottom: 25px;
    position: relative; }
    main .boxItem .item:before {
      content: '';
      position: absolute;
      bottom: 0;
      height: 1px;
      width: 80px;
      background: #606060;
      margin: auto;
      left: 0;
      right: 0;
      opacity: 0;
      transition: all 0.5s ease-in; }
    main .boxItem .item:hover:before {
      opacity: 1; }
    main .boxItem .item a {
      height: 100%;
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      align-items: center; }
      main .boxItem .item a:hover h4 {
        color: #1a7a45; }
    main .boxItem .item img {
      width: 103px; }
    main .boxItem .item h4 {
      font-family: 'Avo_bold';
      font-size: 15px;
      text-transform: uppercase;
      color: #606060;
      line-height: 25px; }

/*Liet si*/
.main-lietsi {
  font-family: 'Roboto'; }
  .main-lietsi .content-body {
    background: #fff;
    display: flex;
    padding-top: 25px;
    padding-bottom: 30px; }
    .main-lietsi .content-body .container {
      /*search mo rong*/ }
      .main-lietsi .content-body .container .row {
        display: flex;
        align-items: center;
        flex-wrap: wrap; }
        .main-lietsi .content-body .container .row .tknc img {
          width: 8px; }
      .main-lietsi .content-body .container .tknc-mr {
        display: none; }
        .main-lietsi .content-body .container .tknc-mr ul {
          display: flex;
          padding: 0;
          list-style: none;
          margin-top: 15px; }
          @media (max-width: 767px) {
            .main-lietsi .content-body .container .tknc-mr ul {
              display: block; } }
          .main-lietsi .content-body .container .tknc-mr ul li {
            width: 20%;
            margin-right: 10px;
            display: flex; }
            @media (max-width: 767px) {
              .main-lietsi .content-body .container .tknc-mr ul li {
                width: 94%;
                margin: 10px; } }
            .main-lietsi .content-body .container .tknc-mr ul li:last-child button {
              border: 0;
              color: #fff;
              padding: 0px 10px;
              background: #819fa8;
              font-size: 18px; }
      .main-lietsi .content-body .container .kq {
        display: flex;
        justify-content: space-between;
        align-items: center; }
        @media (max-width: 1200px) {
          .main-lietsi .content-body .container .kq {
            padding: 0px 10px; } }
        .main-lietsi .content-body .container .kq h4 {
          font-family: 'Avo';
          color: #01568d; }
        .main-lietsi .content-body .container .kq button {
          background: transparent;
          border: 1px solid #82a0a8;
          border-radius: 4px;
          height: 30px; }
          .main-lietsi .content-body .container .kq button img {
            width: 15px;
            margin: 0px 5px; }
    .main-lietsi .content-body .table-detail {
      margin-top: 15px; }
      .main-lietsi .content-body .table-detail .header-table-detail {
        color: #fff;
        background: #82a0a8;
        font-size: 18px; }
        .main-lietsi .content-body .table-detail .header-table-detail th {
          padding-left: 25px;
          font-family: 'Roboto_Bold'; }
        .main-lietsi .content-body .table-detail .header-table-detail button {
          display: flex;
          background: transparent;
          align-items: center;
          border-radius: 4px;
          border: 2px solid #fff;
          font-size: 14px;
          padding: 3px 10px; }
          .main-lietsi .content-body .table-detail .header-table-detail button img {
            width: 16px;
            margin-right: 5px; }
    .main-lietsi .content-body table {
      margin-bottom: 0; }
      .main-lietsi .content-body table tr td {
        padding-left: 25px; }
      .main-lietsi .content-body table caption {
        font-family: 'Roboto_Bold';
        background: #e6e6e6;
        color: #333;
        text-transform: uppercase;
        padding-left: 25px; }
    .main-lietsi .content-body .table-thannhan tr th {
      text-align: center;
      font-weight: normal; }

.main-lietsi-tk {
  background: #fff;
  /*page thong ke*/
  /* Tao moi liet si*/
  /*page chi tiet liet si*/ }
  .main-lietsi-tk .page-thongke {
    /*thong ke huyen*/
    /*Tab thong ke*/ }
    .main-lietsi-tk .page-thongke .row {
      flex-flow: column; }
    .main-lietsi-tk .page-thongke .number-thongke {
      background: #def7ff; }
      .main-lietsi-tk .page-thongke .number-thongke ul {
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 135px;
        margin-bottom: 23px; }
        .main-lietsi-tk .page-thongke .number-thongke ul li {
          margin: auto;
          height: 100%;
          width: 33%;
          text-align: center;
          border-right: 1px solid #a6a8ab;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-flow: column;
          font-family: "Roboto_Bold";
          color: #4d4d4d;
          text-transform: uppercase; }
          .main-lietsi-tk .page-thongke .number-thongke ul li:last-child {
            border-right: 0; }
          .main-lietsi-tk .page-thongke .number-thongke ul li span {
            margin-top: 15px;
            display: block;
            font-family: 'Roboto';
            color: #01568d;
            font-size: 51px; }
    .main-lietsi-tk .page-thongke .tieuchi-thongke {
      margin-bottom: 23px; }
      .main-lietsi-tk .page-thongke .tieuchi-thongke ul {
        border: 1px solid #ccc;
        list-style: none;
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; }
        .main-lietsi-tk .page-thongke .tieuchi-thongke ul li {
          margin: 10px 6px;
          width: 24%;
          height: 34px; }
          .main-lietsi-tk .page-thongke .tieuchi-thongke ul li .form_date {
            height: 34px;
            display: flex;
            border: 1px solid #ccc; }
            .main-lietsi-tk .page-thongke .tieuchi-thongke ul li .form_date input {
              background: transparent;
              padding-left: 17px; }
              .main-lietsi-tk .page-thongke .tieuchi-thongke ul li .form_date input::placeholder {
                color: #606060 !important; }
    .main-lietsi-tk .page-thongke .thongke-huyen {
      margin-bottom: 23px; }
      .main-lietsi-tk .page-thongke .thongke-huyen table tr:nth-child(2) td {
        font-size: 30px;
        color: #01568d; }
      .main-lietsi-tk .page-thongke .thongke-huyen table tr td {
        text-align: center;
        padding: 15px 40px; }
    .main-lietsi-tk .page-thongke #tab-thongke .header-tab {
      display: flex;
      background: #e4eff2;
      justify-content: space-between;
      align-items: center; }
      @media (max-width: 480px) {
        .main-lietsi-tk .page-thongke #tab-thongke .header-tab {
          display: block; } }
      .main-lietsi-tk .page-thongke #tab-thongke .header-tab ul.nav-pills {
        background: #e4eff2;
        display: flex;
        flex-wrap: wrap; }
        .main-lietsi-tk .page-thongke #tab-thongke .header-tab ul.nav-pills li {
          position: relative; }
          .main-lietsi-tk .page-thongke #tab-thongke .header-tab ul.nav-pills li:last-child:after {
            display: none; }
          .main-lietsi-tk .page-thongke #tab-thongke .header-tab ul.nav-pills li:after {
            content: '';
            top: 13px;
            position: absolute;
            right: -2px;
            height: 20px;
            width: 2px;
            background: #666; }
          .main-lietsi-tk .page-thongke #tab-thongke .header-tab ul.nav-pills li:first-child:after {
            display: none; }
          .main-lietsi-tk .page-thongke #tab-thongke .header-tab ul.nav-pills li .img-active {
            display: none; }
          .main-lietsi-tk .page-thongke #tab-thongke .header-tab ul.nav-pills li.active .title-page-thongke {
            background: #82a0a8;
            color: #fff;
            border-bottom: 2px solid #e4eff2; }
          .main-lietsi-tk .page-thongke #tab-thongke .header-tab ul.nav-pills li.active .img-active {
            display: block; }
          .main-lietsi-tk .page-thongke #tab-thongke .header-tab ul.nav-pills li.active .img-inactive {
            display: none; }
          .main-lietsi-tk .page-thongke #tab-thongke .header-tab ul.nav-pills li a {
            padding: 0; }
            .main-lietsi-tk .page-thongke #tab-thongke .header-tab ul.nav-pills li a .title-page-thongke {
              background: transparent;
              color: #666;
              padding: 10px 20px; }
      .main-lietsi-tk .page-thongke #tab-thongke .header-tab .type-view {
        margin-right: 10px; }
        @media (max-width: 767px) {
          .main-lietsi-tk .page-thongke #tab-thongke .header-tab .type-view {
            margin: 5px; } }
        .main-lietsi-tk .page-thongke #tab-thongke .header-tab .type-view .form-group {
          margin-bottom: 0; }
          .main-lietsi-tk .page-thongke #tab-thongke .header-tab .type-view .form-group .form-control {
            background: transparent; }
    .main-lietsi-tk .page-thongke #tab-thongke .tab-content .table {
      margin-top: 0px !important; }
  .main-lietsi-tk .page-taomoi-thongke #create-hoso {
    border: 1px solid #ccc;
    margin-top: 24px;
    padding-bottom: 25px; }
    .main-lietsi-tk .page-taomoi-thongke #create-hoso .table-create-tk {
      margin-bottom: 0;
      border-collapse: collapse;
      width: 100%; }
      .main-lietsi-tk .page-taomoi-thongke #create-hoso .table-create-tk caption {
        background: #82a0a8;
        color: #fff;
        text-transform: uppercase;
        font-family: 'Roboto_Bold';
        font-size: 18px;
        padding-left: 20px; }
      .main-lietsi-tk .page-taomoi-thongke #create-hoso .table-create-tk tr td {
        border: 0;
        /*padding: 8px 15px;*/ }
        .main-lietsi-tk .page-taomoi-thongke #create-hoso .table-create-tk tr td:first-child {
          padding-left: 20px; }
        .main-lietsi-tk .page-taomoi-thongke #create-hoso .table-create-tk tr td:last-child {
          padding-right: 20px; }
  .main-lietsi-tk .page-chitiet-lietsi .container {
    position: relative; }
    .main-lietsi-tk .page-chitiet-lietsi .container .detail-left {
      width: 41.66667%;
      margin-top: 25px; }
      @media (max-width: 767px) {
        .main-lietsi-tk .page-chitiet-lietsi .container .detail-left {
          width: 100%; } }
      .main-lietsi-tk .page-chitiet-lietsi .container .detail-left .title-detail ul {
        background: transparent; }
      .main-lietsi-tk .page-chitiet-lietsi .container .detail-left ul {
        background: #def7ff; }
        .main-lietsi-tk .page-chitiet-lietsi .container .detail-left ul.tab-direct {
          display: flex;
          justify-content: space-between; }
        .main-lietsi-tk .page-chitiet-lietsi .container .detail-left ul li.active a {
          color: #01568d;
          text-transform: uppercase;
          background: transparent; }
        .main-lietsi-tk .page-chitiet-lietsi .container .detail-left ul li a {
          color: #333;
          font-family: 'Roboto_Bold';
          text-transform: uppercase; }
      .main-lietsi-tk .page-chitiet-lietsi .container .detail-left .tab-parent {
        position: absolute;
        left: 43%;
        top: 25px;
        width: 56%; }
        @media (max-width: 767px) {
          .main-lietsi-tk .page-chitiet-lietsi .container .detail-left .tab-parent {
            position: unset;
            width: 100%; } }
        .main-lietsi-tk .page-chitiet-lietsi .container .detail-left .tab-parent #tab-thongke .header-tab ul li.active {
          background: #82a0a8; }
          .main-lietsi-tk .page-chitiet-lietsi .container .detail-left .tab-parent #tab-thongke .header-tab ul li.active a .title-page-thongke {
            color: #fff; }
        .main-lietsi-tk .page-chitiet-lietsi .container .detail-left .tab-parent #tab-thongke .header-tab ul li a {
          padding: 0; }
          .main-lietsi-tk .page-chitiet-lietsi .container .detail-left .tab-parent #tab-thongke .header-tab ul li a .title-page-thongke {
            background: transparent;
            color: #666; }
        .main-lietsi-tk .page-chitiet-lietsi .container .detail-left .tab-parent #tab-thongke .tab-top-content {
          margin: 7px 0px 15px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-bottom: 1px solid #a6a8ab;
          padding-bottom: 7px; }
          .main-lietsi-tk .page-chitiet-lietsi .container .detail-left .tab-parent #tab-thongke .tab-top-content span {
            color: #01568d;
            text-transform: uppercase;
            font-family: 'Roboto_Bold'; }
          .main-lietsi-tk .page-chitiet-lietsi .container .detail-left .tab-parent #tab-thongke .tab-top-content button {
            display: flex;
            background: transparent;
            border: 1px solid #82a0a8;
            border-radius: 4px;
            padding: 5px 10px;
            align-items: center; }
            .main-lietsi-tk .page-chitiet-lietsi .container .detail-left .tab-parent #tab-thongke .tab-top-content button img {
              width: 13px;
              margin-right: 5px; }
        .main-lietsi-tk .page-chitiet-lietsi .container .detail-left .tab-parent #tab2,
        .main-lietsi-tk .page-chitiet-lietsi .container .detail-left .tab-parent #tab3 {
          /*Table chi tiet nhan than*/
          /*end table chi tiet than nhan*/ }
          .main-lietsi-tk .page-chitiet-lietsi .container .detail-left .tab-parent #tab2 .table-chitiet-nhanthan,
          .main-lietsi-tk .page-chitiet-lietsi .container .detail-left .tab-parent #tab3 .table-chitiet-nhanthan {
            border: 1px solid #ccc;
            border-collapse: unset; }
            .main-lietsi-tk .page-chitiet-lietsi .container .detail-left .tab-parent #tab2 .table-chitiet-nhanthan tr:hover,
            .main-lietsi-tk .page-chitiet-lietsi .container .detail-left .tab-parent #tab3 .table-chitiet-nhanthan tr:hover {
              background: transparent; }
            .main-lietsi-tk .page-chitiet-lietsi .container .detail-left .tab-parent #tab2 .table-chitiet-nhanthan tr th,
            .main-lietsi-tk .page-chitiet-lietsi .container .detail-left .tab-parent #tab3 .table-chitiet-nhanthan tr th {
              font-size: 14px; }
            .main-lietsi-tk .page-chitiet-lietsi .container .detail-left .tab-parent #tab2 .table-chitiet-nhanthan tr td,
            .main-lietsi-tk .page-chitiet-lietsi .container .detail-left .tab-parent #tab3 .table-chitiet-nhanthan tr td {
              border: 0; }
              .main-lietsi-tk .page-chitiet-lietsi .container .detail-left .tab-parent #tab2 .table-chitiet-nhanthan tr td .box-checkbox,
              .main-lietsi-tk .page-chitiet-lietsi .container .detail-left .tab-parent #tab3 .table-chitiet-nhanthan tr td .box-checkbox {
                display: flex; }
                .main-lietsi-tk .page-chitiet-lietsi .container .detail-left .tab-parent #tab2 .table-chitiet-nhanthan tr td .box-checkbox .contain-checkbox .checkmark,
                .main-lietsi-tk .page-chitiet-lietsi .container .detail-left .tab-parent #tab3 .table-chitiet-nhanthan tr td .box-checkbox .contain-checkbox .checkmark {
                  left: 0; }
                .main-lietsi-tk .page-chitiet-lietsi .container .detail-left .tab-parent #tab2 .table-chitiet-nhanthan tr td .box-checkbox .contain-checkbox,
                .main-lietsi-tk .page-chitiet-lietsi .container .detail-left .tab-parent #tab3 .table-chitiet-nhanthan tr td .box-checkbox .contain-checkbox {
                  margin-right: 20px; }
      .main-lietsi-tk .page-chitiet-lietsi .container .detail-left .page-not-tab .tab-vanban .tab-direct {
        justify-content: flex-start; }
      .main-lietsi-tk .page-chitiet-lietsi .container .detail-left .page-not-tab .tab-vanban .tab-content {
        border: 1px solid #ccc;
        border-top: 0;
        padding: 0px 15px 20px; }
        .main-lietsi-tk .page-chitiet-lietsi .container .detail-left .page-not-tab .tab-vanban .tab-content .title {
          display: flex;
          justify-content: space-between;
          padding: 20px 0px; }
          .main-lietsi-tk .page-chitiet-lietsi .container .detail-left .page-not-tab .tab-vanban .tab-content .title img {
            width: 15px; }

.border {
  border: 1px solid #ccc; }

.form-search form#search {
  margin: 0; }
  .form-search form#search .input-group {
    border: 1px solid #ccc;
    display: flex; }
    .form-search form#search .input-group .input-group-append {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      color: #fff;
      font-size: 12px;
      background: #82a0a8; }
      .form-search form#search .input-group .input-group-append button {
        background: #82a0a8;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        font-size: 12px;
        padding: 8px; }
      .form-search form#search .input-group .input-group-append img {
        margin: 0px 8px;
        width: 15px; }

.table-danhmuc .modal-footer {
  margin-bottom: 89px; }
.table-danhmuc tr td {
  padding: 8px 15px !important; }
  .table-danhmuc tr td .box-checkbox {
    /*display: flex;*/
    justify-content: center;
    align-items: center; }
    .table-danhmuc tr td .box-checkbox .checkmark {
      left: 0; }

.title-detail {
  background: #82a0a8;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 10px 9px; }
  @media (max-width: 767px) {
    .title-detail {
      /*display:block;*/ } }
  .title-detail span {
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Roboto_Bold'; }
  .title-detail button {
    background: transparent;
    border: 1px solid #fff;
    height: 30px;
    display: flex;
    border-radius: 4px;
    padding: 0px 10px; }
    @media (max-width: 767px) {
      .title-detail button {
        padding: 0px 2px; } }
    .title-detail button img {
      width: 15px;
      margin-right: 5px; }
  .title-detail ul {
    display: flex;
    padding: 0;
    background: transparent;
    margin: 0; }
    .title-detail ul li {
      margin: 0px 5px; }

/*style datatable */
#example_wrapper table tbody tr,
#example1_wrapper table tbody tr {
  cursor: pointer; }
  #example_wrapper table tbody tr th,
  #example1_wrapper table tbody tr th {
    font-size: 14px; }
  #example_wrapper table tbody tr:hover,
  #example1_wrapper table tbody tr:hover {
    background: #def7ff; }
#example_wrapper .table-nhanthan tbody tr td,
#example1_wrapper .table-nhanthan tbody tr td {
  text-align: center; }
#example_wrapper .table-chedo tr td:nth-child(2n+1),
#example1_wrapper .table-chedo tr td:nth-child(2n+1) {
  text-align: right; }
#example_wrapper .table-chedo tr .view,
#example1_wrapper .table-chedo tr .view {
  display: flex;
  justify-content: flex-end; }
  #example_wrapper .table-chedo tr .view a,
  #example1_wrapper .table-chedo tr .view a {
    display: flex; }
    #example_wrapper .table-chedo tr .view a img,
    #example1_wrapper .table-chedo tr .view a img {
      width: 15px;
      margin-right: 10px; }
#example_wrapper .header-title-table,
#example1_wrapper .header-title-table {
  display: flex;
  text-transform: uppercase;
  font-family: 'Roboto_Bold';
  color: #01568d;
  margin-bottom: 10px; }
  #example_wrapper .header-title-table img,
  #example1_wrapper .header-title-table img {
    width: 18px;
    margin-right: 5px; }
#example_wrapper .header-table,
#example1_wrapper .header-table {
  background: #82a0a8;
  color: #fff; }
  #example_wrapper .header-table tr th,
  #example1_wrapper .header-table tr th {
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px; }
    #example_wrapper .header-table tr th:after,
    #example1_wrapper .header-table tr th:after {
      display: none; }
#example_wrapper #example,
#example_wrapper #example1,
#example_wrapper #example2,
#example_wrapper #example3,
#example_wrapper #example4,
#example1_wrapper #example,
#example1_wrapper #example1,
#example1_wrapper #example2,
#example1_wrapper #example3,
#example1_wrapper #example4 {
  margin-bottom: 0px !important; }
  #example_wrapper #example tbody tr:hover,
  #example_wrapper #example1 tbody tr:hover,
  #example_wrapper #example2 tbody tr:hover,
  #example_wrapper #example3 tbody tr:hover,
  #example_wrapper #example4 tbody tr:hover,
  #example1_wrapper #example tbody tr:hover,
  #example1_wrapper #example1 tbody tr:hover,
  #example1_wrapper #example2 tbody tr:hover,
  #example1_wrapper #example3 tbody tr:hover,
  #example1_wrapper #example4 tbody tr:hover {
    background: #def7ff; }
  #example_wrapper #example tbody tr td:first-child,
  #example_wrapper #example1 tbody tr td:first-child,
  #example_wrapper #example2 tbody tr td:first-child,
  #example_wrapper #example3 tbody tr td:first-child,
  #example_wrapper #example4 tbody tr td:first-child,
  #example1_wrapper #example tbody tr td:first-child,
  #example1_wrapper #example1 tbody tr td:first-child,
  #example1_wrapper #example2 tbody tr td:first-child,
  #example1_wrapper #example3 tbody tr td:first-child,
  #example1_wrapper #example4 tbody tr td:first-child {
    text-align: center; }
  #example_wrapper #example tbody tr td .action,
  #example_wrapper #example1 tbody tr td .action,
  #example_wrapper #example2 tbody tr td .action,
  #example_wrapper #example3 tbody tr td .action,
  #example_wrapper #example4 tbody tr td .action,
  #example1_wrapper #example tbody tr td .action,
  #example1_wrapper #example1 tbody tr td .action,
  #example1_wrapper #example2 tbody tr td .action,
  #example1_wrapper #example3 tbody tr td .action,
  #example1_wrapper #example4 tbody tr td .action {
    display: flex;
    justify-content: center;
    align-items: center; }
    #example_wrapper #example tbody tr td .action span,
    #example_wrapper #example1 tbody tr td .action span,
    #example_wrapper #example2 tbody tr td .action span,
    #example_wrapper #example3 tbody tr td .action span,
    #example_wrapper #example4 tbody tr td .action span,
    #example1_wrapper #example tbody tr td .action span,
    #example1_wrapper #example1 tbody tr td .action span,
    #example1_wrapper #example2 tbody tr td .action span,
    #example1_wrapper #example3 tbody tr td .action span,
    #example1_wrapper #example4 tbody tr td .action span {
      margin-right: 10px; }
      #example_wrapper #example tbody tr td .action span button,
      #example_wrapper #example1 tbody tr td .action span button,
      #example_wrapper #example2 tbody tr td .action span button,
      #example_wrapper #example3 tbody tr td .action span button,
      #example_wrapper #example4 tbody tr td .action span button,
      #example1_wrapper #example tbody tr td .action span button,
      #example1_wrapper #example1 tbody tr td .action span button,
      #example1_wrapper #example2 tbody tr td .action span button,
      #example1_wrapper #example3 tbody tr td .action span button,
      #example1_wrapper #example4 tbody tr td .action span button {
        background: transparent;
        border: 0;
        padding: 0; }
      #example_wrapper #example tbody tr td .action span img,
      #example_wrapper #example1 tbody tr td .action span img,
      #example_wrapper #example2 tbody tr td .action span img,
      #example_wrapper #example3 tbody tr td .action span img,
      #example_wrapper #example4 tbody tr td .action span img,
      #example1_wrapper #example tbody tr td .action span img,
      #example1_wrapper #example1 tbody tr td .action span img,
      #example1_wrapper #example2 tbody tr td .action span img,
      #example1_wrapper #example3 tbody tr td .action span img,
      #example1_wrapper #example4 tbody tr td .action span img {
        height: 18px; }
#example_wrapper .bottom-table,
#example1_wrapper .bottom-table {
  display: flex;
  justify-content: space-between;
  background: #e6e6e6;
  align-items: center;
  padding: 10px; }
  #example_wrapper .bottom-table .left,
  #example1_wrapper .bottom-table .left {
    display: flex;
    align-items: center;
    font-size: 14px; }
    @media (max-width: 767px) {
      #example_wrapper .bottom-table .left,
      #example1_wrapper .bottom-table .left {
        display: block; } }
    #example_wrapper .bottom-table .left .dataTables_info,
    #example1_wrapper .bottom-table .left .dataTables_info {
      padding-top: 0; }
    #example_wrapper .bottom-table .left .pagination,
    #example1_wrapper .bottom-table .left .pagination {
      margin-left: 5px; }
      #example_wrapper .bottom-table .left .pagination li.active a,
      #example1_wrapper .bottom-table .left .pagination li.active a {
        background: #819fa8;
        color: #fff; }
      #example_wrapper .bottom-table .left .pagination li.previous a, #example_wrapper .bottom-table .left .pagination li.next a,
      #example1_wrapper .bottom-table .left .pagination li.previous a,
      #example1_wrapper .bottom-table .left .pagination li.next a {
        background: #b3b3b3; }
      #example_wrapper .bottom-table .left .pagination a,
      #example1_wrapper .bottom-table .left .pagination a {
        font-size: 12px;
        color: #000;
        background: #fff;
        margin: 0px 1px;
        border: 1px solid #ccc;
        padding: 2px 7px;
        height: 25px;
        display: flex;
        align-items: center; }
#example_wrapper #save-chuyen-hoso,
#example1_wrapper #save-chuyen-hoso {
  border: 1px solid #ccc; }
  #example_wrapper #save-chuyen-hoso table tr:hover,
  #example1_wrapper #save-chuyen-hoso table tr:hover {
    background: transparent; }
  #example_wrapper #save-chuyen-hoso table tr td,
  #example1_wrapper #save-chuyen-hoso table tr td {
    border: 0; }

.title-page-thongke {
  background: #82a0a8;
  display: flex;
  align-items: center;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  padding: 11px 20px; }
  @media (max-width: 767px) {
    .title-page-thongke {
      font-size: 15px;
      padding: 11px 9px; } }
  .title-page-thongke img {
    width: 18px;
    height: 18px;
    margin-right: 15px; }
    @media (max-width: 767px) {
      .title-page-thongke img {
        margin-right: 5px; } }

.contain-checkbox {
  display: block;
  position: relative;
  /*padding-left: 35px;*/
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .contain-checkbox:hoverinput ~ .checkmark {
    background: #ccc; }
  .contain-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0; }
    .contain-checkbox input:checked ~ .checkmark:after {
      display: block; }
  .contain-checkbox .checkmark {
    position: absolute;
    top: 0;
    left: 20px;
    height: 15px;
    width: 15px;
    background-color: #fff; }
    @media (max-width: 767px) {
      .contain-checkbox .checkmark {
        left: 0; } }
    .contain-checkbox .checkmark:after {
      content: '';
      position: absolute;
      display: none;
      left: 4px;
      top: 1px;
      width: 5px;
      height: 10px;
      border: solid #666;
      border-width: 0px 2px 2px 0px;
      transform: rotate(45deg); }

.muc {
  background: #ddd;
  color: #333;
  text-transform: uppercase;
  font-family: 'Roboto_Bold'; }
  .muc button {
    border: 1px solid #666;
    background: transparent;
    border-radius: 4px;
    padding: 4px 10px; }
    .muc button img {
      width: 15px;
      margin-right: 8px; }

.title-detail {
  margin-top: 15px; }

ul {
  list-style: none; }

.item {
  padding-top: 8px; }
  .item .box-checkbox {
    display: flex;
    align-items: center; }
    .item .box-checkbox .contain-checkbox {
      padding-left: 30px;
      margin-bottom: 0; }
    .item .box-checkbox .checkmark {
      left: 0; }

.row-inline {
  display: flex;
  justify-content: space-between; }
  .row-inline input {
    width: 65%; }

.form-group {
  margin-bottom: 0; }

.btn-save {
  background: #82a0a8;
  margin: auto;
  display: block;
  color: #fff;
  padding: 6px 37px;
  margin-top: 25px; }
  @media (max-width: 480px) {
    .btn-save {
      padding: 6px 27px; } }
  .btn-save img {
    width: 15px;
    height: 15px;
    margin-right: 20px; }

label {
  height: 20px;
  font-weight: normal;
  color: #333; }

.gioitinh {
  display: flex;
  align-items: center; }
  .gioitinh div {
    display: flex;
    align-items: center;
    margin-right: 27px; }
    .gioitinh div input {
      height: 20px;
      width: 20px; }
    .gioitinh div span {
      padding-left: 10px;
      padding-top: 10px; }

.modal-common .modal-width {
  max-width: 1136px;
  width: 100%; }
.modal-common .modal-content {
  font-family: "Roboto"; }
.modal-common .modal-header {
  padding: 11px;
  text-align: center;
  background: #82a0a8;
  font-family: 'Roboto_Bold';
  color: #fff; }
  .modal-common .modal-header .close {
    opacity: 1; }
    .modal-common .modal-header .close img {
      width: 25px; }
.modal-common .modal-body table tr td {
  border: 0; }
  .modal-common .modal-body table tr td .form-group {
    margin-bottom: 0; }
    .modal-common .modal-body table tr td .form-group label span {
      color: red; }
  .modal-common .modal-body table tr td .checkmark {
    left: 0; }
  .modal-common .modal-body table tr td img {
    width: 15px; }

#modalCatchet .modal-lg {
  max-width: 757px;
  width: 100%; }
#modalCatchet .modal-body {
  padding: 15px 130px; }

.modal-dialog {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: auto; }
  .modal-dialog > div {
    width: 100%; }

footer {
  clear: both;
  text-align: center;
  background: #01568d;
  color: #fff;
  padding: 12px;
  border-top: 7px solid #55caf5; }
  footer p {
    margin: 0; }

.mrt-10 {
  margin-top: 10px; }

.mrt-20 {
  margin-top: 20px; }

.mrt-17 {
  margin-top: 17px; }

.mrb-15 {
  margin-bottom: 15px; }

.date-birthday {
  border: 1px solid #ccc;
  position: relative;
  height: 34px; }
  .date-birthday .input-group-addon {
    visibility: hidden;
    height: 0;
    padding: 0px !important; }

.table-no-border {
  margin-bottom: 0; }
  .table-no-border tr td {
    border: 0px !important;
    padding: 12px !important; }
    .table-no-border tr td:first-child {
      text-align: right; }
    .table-no-border tr td .inputfile + label {
      padding: 0; }
    .table-no-border tr td .box-checkbox {
      display: flex; }
      .table-no-border tr td .box-checkbox .contain-checkbox {
        padding-left: 35px;
        margin-bottom: 0; }
        .table-no-border tr td .box-checkbox .contain-checkbox .checkmark {
          left: 0; }

input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #606060;
  opacity: 1;
  /* Firefox */ }

input::-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #606060; }

input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #606060; }

table tr td {
  font-size: 14px; }

.modal-footer {
  text-align: center;
  display: flex;
  justify-content: center;
  border: 0; }
  .modal-footer .btn-save {
    margin: unset;
    border: 0;
    border-radius: 5px;
    width: 120px;
    padding: 8px 13px;
    margin: 0px 10px;
    transition: all 0.3s ease-in; }
    .modal-footer .btn-save:hover {
      background: #666;
      color: #fff; }
    .modal-footer .btn-save img {
      margin-right: 10px; }

.d-flex {
  display: flex; }

.btn-radio {
  display: flex; }
  .btn-radio input {
    height: 20px;
    width: 20px; }
  .btn-radio span {
    padding: 6px; }

#chuyentab4 .tab-top-content {
  padding: 8px 0px; }

/*Báo cáo*/
.top-main {
  min-height: 75px;
  background: #e6e6e6;
  border-bottom: 2px solid #82a0a8;
  display: flex; }
  .top-main .row {
    /*display: flex;
    align-items: center;*/ }
  .top-main h4 {
    color: #01568d;
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Avo_bold'; }
  .top-main .sec-right {
    display: flex;
    justify-content: flex-end; }
    .top-main .sec-right ul {
      margin: 0; }
      @media (max-width: 767px) {
        .top-main .sec-right ul {
          padding: 0;
          margin-bottom: 10px; } }
      .top-main .sec-right ul li {
        width: 150px;
        display: inline-block;
        background: #fff;
        border-radius: 5px;
        padding: 7px 20px;
        margin-left: 13px;
        transition: all 0.5s ease-in;
        position: relative;
        text-align: center; }
        @media (max-width: 767px) {
          .top-main .sec-right ul li {
            padding: 7px 4px;
            margin-left: 0px;
            margin-bottom: 5px;
            width: auto; } }
        .top-main .sec-right ul li:hover {
          background: #82a0a8; }
          .top-main .sec-right ul li:hover a {
            color: #fff; }
            .top-main .sec-right ul li:hover a .img-active {
              opacity: 0; }
            .top-main .sec-right ul li:hover a .img-inactive {
              opacity: 1; }
        .top-main .sec-right ul li.active {
          background: #82a0a8; }
          .top-main .sec-right ul li.active a {
            color: #fff; }
            .top-main .sec-right ul li.active a .img-active {
              opacity: 0; }
            .top-main .sec-right ul li.active a .img-inactive {
              opacity: 1; }
        .top-main .sec-right ul li a {
          font-family: 'Roboto';
          color: #01568d;
          padding: 5px 15px; }
          @media (max-width: 767px) {
            .top-main .sec-right ul li a {
              padding: 5px 5px 5px 16px; } }
          .top-main .sec-right ul li a .img-active {
            opacity: 1; }
          .top-main .sec-right ul li a .img-inactive {
            opacity: 0; }
        .top-main .sec-right ul li img {
          top: 9px;
          width: 15px;
          margin-right: 10px;
          position: absolute;
          left: 12px; }
          @media (max-width: 767px) {
            .top-main .sec-right ul li img {
              top: 9px;
              width: 15px;
              /*margin-right: 6px;*/
              position: absolute;
              left: 5px; } }

.main-baocao {
  background: #fff; }
  .main-baocao .item {
    margin-bottom: 10px; }
    .main-baocao .item .sec-right {
      display: flex; }
      .main-baocao .item .sec-right button {
        border: 0;
        border-radius: 6px; }
        .main-baocao .item .sec-right button:last-child {
          background: #fff;
          color: #666;
          border: 1px solid #ccc;
          margin-right: 0; }

/*Danh muc nhom doi tuong*/
#example1 tr td label {
  margin-bottom: 0; }

/*Danh mục loại quyết định*/
.title-danhmuc {
  margin: 25px 0px 15px; }
  .title-danhmuc span {
    color: #01568d;
    text-transform: uppercase;
    font-family: 'Roboto_Bold';
    font-size: 18px; }

.table-quyetdinh-chitiet table {
  margin-bottom: 0; }
  .table-quyetdinh-chitiet table thead tr th {
    border: 0;
    font-weight: normal; }
.table-quyetdinh-chitiet .modal-footer {
  justify-content: flex-end; }
  .table-quyetdinh-chitiet .modal-footer .btn-save {
    width: auto; }

/*Thông tin tài khoản*/
.selects_container {
  display: flex; }

#dateinput_1Days,
#dateinput_1Months,
#dateinput_1Years {
  border: 1px solid #ccc;
  height: 35px;
  width: 100px;
  border-radius: 4px;
  margin-right: 10px; }

.no-border {
  border: 0;
  box-shadow: none;
  font-size: 35px; }

.border-tk {
  width: 100%;
  height: 100%;
  display: inline-block;
  border: 1px solid #ccc;
  padding: 30px; }
  .border-tk ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; }
    .border-tk ul li {
      display: inline-block;
      width: 15%;
      cursor: pointer; }
      .border-tk ul li:nth-child(1) img {
        width: 5px; }
      .border-tk ul li:nth-child(2) {
        width: 8%; }
        .border-tk ul li:nth-child(2) img {
          width: 15px; }
      .border-tk ul li:nth-child(3) img {
        width: 15px; }
      .border-tk ul li:nth-child(4) img {
        width: 13px; }
      .border-tk ul li span {
        padding-left: 10px; }

.avatar {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center; }
  .avatar img {
    width: 65px; }
  .avatar span.note {
    padding: 0px 90px; }
  .avatar .box {
    background: #82a0a8;
    border-radius: 5px;
    padding: 5px 0px;
    margin: 28px; }
    .avatar .box label {
      margin-bottom: 0;
      color: #fff;
      font-weight: normal; }
      .avatar .box label img {
        width: 15px;
        height: 12px;
        margin-right: 5px; }

.border-right {
  border-right: 1px solid #ccc; }

button {
  transition: all 0.5s ease-in;
  font-size: 14px; }

button:hover {
  background: #b3b3b3 !important;
  color: #fff; }

.mrt-15 {
  margin-top: 15px; }

.menu-btn {
  position: absolute;
  right: 10px;
  top: 28px;
  background: #e1f4fd;
  color: #3eb4e5;
  border-radius: 5px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #3eb4e5; }

/*# sourceMappingURL=styles.css.map */
